# =============================================================================
# Python
# =============================================================================

__pycache__/
*.pyc
*.pyo
*.pyd

# =============================================================================
# Pithon and Virtual environments
# =============================================================================

.env
venv/
.venv/
env/

# =============================================================================
# IDEs
# =============================================================================

.idea/
.vscode/

# =============================================================================
# Operating System
# =============================================================================

.DS_Store
Thumbs.db

# =============================================================================
# Dataset
# =============================================================================

# Ignore captured face images
data/dataset/*

# Keep folder structure
!data/dataset/.gitkeep

# =============================================================================
# Trained models
# =============================================================================

# Ignore generated models
data/models/*.xml

# Ignore generated labels
data/models/labels.txt

# Keep folder structure
!data/models/.gitkeep

# =============================================================================
# Assets
# =============================================================================

# Keep assets folder
!assets/.gitkeep
